$figure-square: green;
$figure-circle: red;
$figure-oval: blue;
$figure-rhombus: linear-gradient(to bottom, #ff9933, #ff3399);

@mixin shape-styles {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

@mixin square-styles {
    @include shape-styles;
    color: white;
    text-align: center;
    line-height: 100px;
    background: $figure-square;
}

@mixin circle-styles {
    @include shape-styles;
    border-radius: 50%;
    background: $figure-circle;
}

@mixin oval-styles {
    @include shape-styles;
    border-radius: 50%;
    width: 150px;
    background: $figure-oval;
}

@mixin rhombus-styles {
    @include shape-styles;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    margin-right: 0;
    animation: rotate 0.5s linear infinite;
    background: $figure-rhombus;
}

.shapes-row {
    display: flex;

    .square {
        @include square-styles;
    }

    .circle {
        @include circle-styles;
    }

    .oval {
        @include oval-styles;
    }

    .rhombus {
        @include rhombus-styles;
    }
}

.picture-container {
    display: flex;

    img {
        border: 2px solid black;
        width: 100px;
        height: 100px;
        margin-right: 5px;
    }
}

@function darken-color($color, $amount) {
    @return darken($color, $amount);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}